body {
  background: #000;
  margin: 20px 20px;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  min-height: 65%;
  background: #a55ffa;
  border: 2px solid black;
  border-radius: 10px;
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px 20px;
}

#title {
  background: #a55ffa;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

.add {
  border-radius: 10px;
  border: 2px solid black;
  background: white;
  width: 15%;
  height: 25px;
  font-family: monospace;
}

.add:hover {
  background: whitesmoke;
}

a:hover {
  background: whitesmoke;
}

a {
  width: 15%;
  height: 80px;
  line-height: 70px;
  text-align: center;
  color: black;
  background-color: #a55ffa;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  flex: 0 0 18%;
}
