body {
  background: #000;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  margin: 20px 20px;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  min-height: 65%;
  background: #a55ffa;
  border: 2px solid black;
  border-radius: 10px;
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
}

#title {
  background: #a55ffa;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

.add {
  border-radius: 10px;
  border: 2px solid black;
  background: white;
  font-family: monospace;
  height: 25px;
}

.add:hover {
  background: whitesmoke;
}
